//Primry colors

$blanco: #fff;
$platinum: #E8E8E4;
$gray:#BEC1B8;
$dark: #1B1F21;
$outer: #444749;
$old: #828485;
$lightblue: #92dce5;
$salmon: #ef6461;



//TIPOGRAPHY

//font-family
$roboto: 'roboto', sans-serif;
$open-sans: 'open sans', sans-serif;
$futura: 'futura', sans-serif;

//font weight
$regular: 400;
$bold: 700;

//font sizes

$xl-large: 45px;
$medium:18px;
$small: 14px;
$x-small:10px;
$large: 22px;
$xm-large: 30px



