#navbarNav {
    justify-content: flex-end;
    padding: 1rem;
    margin-right:1rem;
    
}

.navbar-brand img {
    margin-left: 40px;
    width: 160px;
    height: 65px;
}


.nav-item {
    padding-right: 2rem;
    cursor: pointer;
}